:root {
    --brand-color: #4D5AE5;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --hover-link: #404BBF;


    /*Others*/
    --radius: ;
    --indent: 24px;
    --items: 1;
    --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*  */
}

body {
    font-family: 'roboto', sans-serif;
    color: var(--text-color)
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/*universal class*/


.container {
    /* phone screen */
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;


}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


.section {}


.card-set {
    display: flex;
    flex-wrap: wrap;

    gap: var(--indent);

}

.card-set-item {

    flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}

/*Heading and paragraf*/

.heading-primary {
    font-size: 36px;
    line-height: 1;
    font-weight: 700px;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .heading-primary {
        font-size: 56px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .heading-primary {
        font-size: 56px;
        margin-bottom: 48px;
    }
}


.heading-secondary {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
}

.heading-tertiary {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    flex: none;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .heading-tertiary {

        font-size: 20px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1200px) {
    .heading-tertiary {

        font-size: 20px;
        line-height: 1.2;
    }
}


.heading-mtd {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    flex: none;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .heading-mtd {
        text-align-last: left;
        font-size: 36px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 1200px) {
    .heading-mtd {
        font-weight: 500;
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
    }
}

.paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    flex: none;
    order: 1;
    color: var(--text-color);
    margin-top: 8px;
    /* margin-bottom: 8px; */
}

@media screen and (min-width: 768px) {
    .paragraph {
    }
}
@media screen and (min-width: 1200px) {
    .paragraph {
        font-weight: 400;
    }
}

.paragraph-team {
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .paragraph-team {}
}

@media screen and (min-width: 1200px) {
    .paragraph-team {
        font-weight: 400;
    }
}


/*header*/

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid;
    border-color: #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .header {
    
    }
}

@media screen and (min-width: 1200px) {
    .header {
      
    }
}

.header-container {
    
    display: flex;
    align-items: center;

}

/*Logo-header*/
.logo {
    text-transform: uppercase;
    font-family: 'raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 24px 0;
    color: var(--brand-color);
    margin-right: auto;

}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 123px;
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        line-height: 1.5;
        margin-right: 76px;
        padding: 0;
    }
}

.logo-dark {
    color: var(--dark-color)
}

.navigation {
    display: none;
}

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        margin-right: 118px;
    }
}

@media screen and (min-width: 1200px) {
    .navigation {
        margin-right: auto;
    }
}

.navigation-list {}

@media screen and (min-width: 768px) {
    .navigation-list {
        display: flex;
        gap: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .navigation-list {}
}


.navigation-list,
.contact-list {}

@media screen and (min-width: 768px) {

    .navigation-list,
    .contact-list {}
}

@media screen and (min-width: 1200px) {

    .navigation-list,
    .contact-list {
        display: flex;
        gap: 40px;
    }
}


.navigation-link,
.contact-link {}

@media screen and (min-width: 768px) {

    .navigation-link,
    .contact-link {
        
        position: relative;
        display: block;

    }
}

@media screen and (min-width: 1200px) {

    .navigation-link,
    .contact-link {
        padding: 24px 0;

    }
}

.navigation-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--dark-color) transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .navigation-link {
        font-weight: 500;
        padding: 24px 0 22px 0;
    }
}

@media screen and (min-width: 1200px) {
    .navigation-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;


    }
}

.navigation-link.current {
    color: var(--hover-link);
}

.navigation-link.current::after {}

@media screen and (min-width: 768px) {

    .navigation-link.current::after {
        content: "";
        position: absolute;
        bottom: -1px;


        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--hover-link);
        border-radius: 2px;
    }
}

@media screen and (min-width: 1200px) {

    .navigation-link.current::after {
        content: "";
        position: absolute;
        bottom: -2px;


        display: block;
        width: 100%;
        height: 4px;

        background-color: var(--hover-link);
        border-radius: 2px;
    }
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--brand-color)
}



.contact-box {
    display: none;

}

@media screen and (min-width: 768px) {

    .contact-box {
        display: flex;
        
        margin-left: auto;

    }
}

@media screen and (min-width: 1200px) {

    .contact-box {
        padding: 0;
        display: flex;
        align-items: center;
    }
}




.contact-link {}

@media screen and (min-width: 768px) {
    .contact-link {
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.04em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }
}

@media screen and (min-width: 1200px) {
    .contact-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;


    }
}

.contact-link:hover,
.contact-link:focus {
    color: var(--brand-color)
}





/*Order*/

.order {
    
    padding: 112px 0;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .order {
            padding-top: 122px;
            padding-bottom: 108px;
    }
}
@media screen and (min-width: 1200px) {
    .order {
            padding: 188px 0;
            max-width: 1440px;
    }
}

/* bg image */
.order {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    /* phone screen */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg.images/people-office_mob@1x.png');
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .order {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg.images/people-office_mob@2x.png');
    }
}


@media screen and (min-width: 768px) {
    .order {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg.images/people-office_tab@1x.png');
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .order {
                background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg.images/people-office_tab@2x.png');
            }
        }
}

@media screen and (min-width: 1200px) {
    .order {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg.images/people-office_desk@1x.png');
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .order {
                background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg.images/people-office_desk@2x.png');
            }
        }
}



.order-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.btn {
    display: flex;
    align-items: center;
    font-family: 'roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: flex-start;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}


.btn-hero {
    background: #4D5AE5;
    padding: 16px 32px;
    gap: 10px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: var(--hover-link);
}


/* section about*/

.about {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .about {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1200px) {
    .about {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.about-list {
    --items: 1;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .about-list {
        --items: 2;
    }
}

@media screen and (min-width: 1200px) {
    .about-list {
        --items: 4;
    }
}

.about-item {}


.about-icon {
    display: none;
}

@media screen and (min-width: 768px) {
    .about-icon {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .about-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light-color);
        border-radius: 4px;
        padding: 24px 100px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }
}




/* section doing*/




.doing {
    display: none;
}

@media screen and (min-width: 768px) {
    .doing {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .doing {
        display: flex;
        padding-bottom: 120px;
    }
}

.doing-list {
    --items: 3;
}


/*Team*/
.team {
    background: var(--light-color);
    padding-top: 96px;
    padding-bottom: 128px;
}
/* @media screen and (min-width: 320px) and (max-width: 767px) {
    .t-container {
        max-width: 264px;
    }
} */
@media screen and (min-width:768px) and (max-width: 1199px) {
    .t-container {
        max-width: 584px;
    }
}



@media screen and (min-width: 768px) {
    .team {
        padding: 120px 0;
    }
}

@media screen and (min-width: 1200px) {
    .team {
        padding-top: 96px;
        padding-bottom: 104px;
    }
}

.team-item {}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;

}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        --items: 2;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list {
        --items: 4;
    }
}

.team-wrapper {
    text-align: center;
    padding: 32px 16px;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
    .team-wrapper {}
}

@media screen and (min-width: 1200px) {
    .team-wrapper {}
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--brand-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
    fill: var(--light-color);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--hover-link);
}

/*Customers*/
.customers {
    padding: 96px 0 72px;
    
}

@media screen and (min-width: 768px) {
    .customers {}
}

@media screen and (min-width: 1200px) {
    .customers {
        padding: 120px 0 120px;
    }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
    
}


@media screen and (min-width: 768px) {
    .customers-list {
        justify-content: center;
        gap: 24px;
        row-gap: 64px;

    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        /* --items: 6; */
    }
}
.customers-item {
    min-width: 190px;
}
@media screen and (min-width: 768px) {
    .customers-item {
        min-width: 168px;
    }
}

@media screen and (min-width: 1200px) {
    .customers-item {}
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    fill: var(--subtle-text-color);
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .customers-link {
        width: 168px;
    }
}

@media screen and (min-width: 1200px) {
    .customers-link {
       
    }
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--hover-link);
    fill: var(--hover-link);

}

.customers-item {
    
    flex-wrap: wrap;
    max-width: 168px; 

}



/*partfolio*/


/*filter*/

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    
    align-items: flex-start;
    gap: var(--indent);
    margin-bottom: 72px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .filter {
        max-width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .filter {
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .filter {
        justify-content: center;
    }
}

.btn-light {
    background: #F4F4FD;
    color: var(--brand-color);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition-property: background-color, box-shadow, color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-light:hover,
.btn-light:focus {
    background: var(--hover-link);
    color: white;
    border-color: var(--hover-link);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*Partfolio BOX*/
.p-container {

}
@madia screen and (min-width:768px) and (max-width: 1199px) {
    .p-container {
        min-width: 554px;
    }
}
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        --items: 2;
        justify-content: flex-start;
        row-gap: 72px;
    }
}
@media screen and (min-width: 1200px) {
    .portfolio-list {
        
        --items:3;
        gap: var(--indent);
        row-gap: 48px;
    }
}
.portfolio-item {
    width: 396px;
    height: 100%;
}
@media screen and (min-width: 768px) {
    .portfolio-item {
        width: 356px;
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-item {
        width: 360px;
        height: 100%;
    }
}

.box {  
    position: relative;
    overflow: hidden;

}
@media screen and (min-width: 768px) {
    .box {
        
    }
}

@media screen and (min-width: 1200px) {
    .box {
        position: relative;
        overflow: hidden;
    }
}

.portfolio-item {
    transition-property: transform, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-img {
    width: 398px;
    height: 100%;
}
@media screen and (min-width: 768px) {
    .portfolio-img {
        width: 356px;
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-img {
        width: 360px;
        height: 100%;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);

    transform: translateY(100%);
    transition: transform 250ms ease
}

.overlay>p {
    color: var(--light-color);
    padding: 40px 32px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.portfolio-wrapper {
    display: flex;
    width: 396px;

    flex-direction: column;
    align-items: flex-start;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;

    border: 1px solid var(--accent-color);
    border-top: none;
}
@media screen and (min-width: 768px) {
    .portfolio-wrapper {
        width: 356px;
        
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-wrapper {
        width: 360px;
        
    }
}






/*footer*/

.footer {
    background: var(--dark-color);
    padding: 96px 0;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 100px 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer {}
}

.footer-wrapper {
    
    
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;

        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;

    }
}

@media screen and (min-width: 1200px) {
    .footer-wrapper {
        gap: 0;
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: nowrap;
    }
}


.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-box {
        display: block;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer-box {
        padding-right: 90px;
        margin-bottom: 0;
    }
}



/*Logo Footer*/

/* Footer section - 2 */


.logo-light {
    color: var(--light-color);
}

.footer-logo {

    margin-right: 0;
    padding: 0 0;    
}

@media screen and (min-width: 768px) {
    .footer-logo {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .footer-logo {
        
    }
}

.paragraph-footer {
    
    width: 268px;
    margin-top: 16px;
    color: var(--accent-color);
    padding-bottom: 0;
    
}

@media screen and (min-width: 768px) {
    .paragraph-footer {}
}

@media screen and (min-width: 1200px) {
    .paragraph-footer {
        width: 264px;
    }
}

/* Footer section - 2 */

.footer-social {

    padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .footer-social {
        padding-bottom: 0;

    }
}

@media screen and (min-width: 1200px) {
    .footer-social {
        padding-right: 70px;

    }
}

.socials-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.paragrapf-socials {
    text-align: center;
    color: white;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .paragrapf-socials {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .paragrapf-socials {
        text-align: left;
    }
}

.socials-link-footer:hover,
.socials-link-footer:focus {
    background-color: #31D0AA;
}


/* Footer section - 3 */


.sub-email {}

.sub-footer {
    
    display: inline-block;
    width: 100%;
    max-width: 398px;
    
}

@media screen and (min-width: 768px) {
    .sub-footer {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .sub-footer {
        align-items: left;
        gap: 17px;
    }
}
.box-footer {
    
    text-align: center;
    
}
@media screen and (min-width: 768px) {
    .box-footer {
        
    }
}

@media screen and (min-width: 1200px) {
    .box-footer {
        
    }
}
.footer-input {
    
    min-width: 280px;
    width: 100%;
    
    height: 40px;
    outline: none;
    background-color: #2E2F42;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    color: var(--light-color);
}

@media screen and (min-width: 768px) {
    .footer-input {
        min-width: 264px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer-input {
        min-width: 264px;
        margin-bottom: 0;
    }
}

.btn-footer {
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;
    background: var(--brand-color);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .btn-footer {
        padding: 8px 24px;
        gap: 16px;
        background: var(--brand-color);
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .btn-footer {}
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    ;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms, visibility 250ms;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: #FCFCFC;
    width: 408px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--anim-slow),
        opacity var(--anim-slow);

}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-75%);
    opacity: 1;

    transition-delay: 200ms;
}



/* .modal-paragraph {
    font-style: 13px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
} */

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--hover-link);
    fill: var(--white-color);
}

.modal-icon {}

/* modal info */

.order-heading {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 6px;
    color: #2E2F42;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.order-form-label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}

.order-form-group {
    position: relative;
}

.order-form-field {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 38px;
    outline: none;

    font-size: 18px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-field:focus {
    border-color: var(--brand-color);
}

.order-form-field:focus+.order-form-icon {
    fill: var(--brand-color);
}

.order-form-icon {
    position: absolute;
    top: 8px;
    left: 16px;
    pointer-events: none;
    fill: var(--dark-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 16px;
    resize: none;
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 16px;
    outline: none;
}

.order-form-comment::placeholder {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}


.order-form-agreement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 24px;
}

.order-form-checkbox {
    appearance: none;

    width: 16px;
    height: 16px;
    border: 1.25px solid var(--black-color);
    border-radius: 2px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-checkbox:checked {
    background-color: var(--hover-link);
    border-color: var(--hover-link);
}

.order-form-desc {
    user-select: none;
    line-height: 1.3;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #757575;
    ;
}

.order-form-link {
    color: var(--brand-color);
    text-decoration: underline;
}



.order-form-btn {
    justify-content: center;
    width: 169px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
}



/* mobile menu */
.menu-container {
   
}
.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 40px 40px;
    overflow: auto;
    background-color: var(--white-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-toggle {
    /* min-height: 40px;
    min-width: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;


    margin: 0;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.contact-mobile-item {}

.mobile-menu-item:last-child {
    margin-bottom: 284px;
}
.mobile-menu-item:nth-child(-n + 2) {
    margin-bottom: 40px;
} 

.mobile-menu-item {
    /* margin-bottom: 40px; */
}

.mobile-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);

    
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--brand-color)
}

.contact-mobile-list {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 48px;

}

.contact-mobile-item:first-child {
    margin-bottom: 40px;
}

.contact-mobile-link {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: calc(40 / 36);
    color: var(--brand-color);
}

.contact-mail-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px / 20px);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mobile-socials {
    display: flex;
    gap: 56px;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}



.menu-container.is-open {
    transform: translateX(0);
}
.mob_menu {
    display: block;
    fill: none;
    stroke: currentColor;
}